.boxShadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 20px
}

.profile-pict-img {
    height: 59%;
    width: 50px;
}

@media screen and(max-width: 375px) {
    .profile-pict-img {
        width: 10px;
    }
}