.navbar-center a:hover {
    animation: rotate360 1s ease-in-out both;
    animation-iteration-count: 1;
}

input[type="text"] {
    border: .5px solid black;
}

@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}